<div class="container mt-5" class="character-list" infiniteScroll [infiniteScrollDistance]="0.5" [infiniteScrollThrottle]="150" (scrolled)="onScroll()">
  <div class="controls">
    <button (click)="sortByCreatedAt()">Сортировать по дате создания</button>
    <select [(ngModel)]="filterGender" (change)="filterByGender()">
      <option value="">Все</option>
      <option value="Male">Мужской</option>
      <option value="Female">Женский</option>
    </select>
    <input type="text" [(ngModel)]="searchQuery" placeholder="Поиск по имени">
    <button (click)="searchByName()">Поиск</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Avatar</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let character of characters; let i = index" (click)="goToCharacter(character.id)">
        <th scope="row">{{ i + 1 }}</th>
        <td><img [src]="character.image" class="img-thumbnail" width="50" height="50"></td>
        <td>{{ character.name }}</td>
        <td>{{ character.created | date }}</td>
        <td><img [src]="getGenderIcon(character.gender)" alt="{{ character.gender }}" width="40" height="40"></td>
      </tr>
    </tbody>
  </table>
</div>
